* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 3fr 1fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "section aside"
        "article aside"
        "footer footer";
    gap: 8px;
    padding: 5px;
    height: 100vh;
    background-color: black;
}

.header {
    grid-area: header;
    background-color: rgba(84, 108, 214, 255);
}

.nav {
    grid-area: nav;
    background-color: rgba(85, 186, 198, 255);
}

.section {
    grid-area: section;
    background-color: #f8d246;
}

.article {
    grid-area: article;
    background-color: #ea7e61;
}

.aside {
    grid-area: aside;
    background-color: plum;
}

.footer {
    grid-area: footer;
    background-color: rgba(84, 108, 214, 255);
}